<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <general>
    <timezone>Asia/Jakarta</timezone>
    <php_cli></php_cli>
    <domain></domain>
    <redirect_to_maindomain></redirect_to_maindomain>
    <language>en</language>
    <validLanguages>en</validLanguages>
    <fallbackLanguages>
      <en></en>
    </fallbackLanguages>
    <theme></theme>
    <contactemail></contactemail>
    <loginscreencustomimage></loginscreencustomimage>
    <disableusagestatistics></disableusagestatistics>
    <debug></debug>
    <debug_ip>127.0.0.1</debug_ip>
    <http_auth>
      <username></username>
      <password></password>
    </http_auth>
    <custom_php_logfile></custom_php_logfile>
    <debugloglevel>debug</debugloglevel>
    <debug_admin_translations></debug_admin_translations>
    <devmode></devmode>
    <logrecipient></logrecipient>
    <viewSuffix></viewSuffix>
    <instanceIdentifier></instanceIdentifier>
  </general>
  <database>
    <adapter>Pdo_Mysql</adapter>
    <params>
      <host>localhost</host>
      <username>root</username>
      <password></password>
      <dbname>boneeto</dbname>
      <port>3306</port>
    </params>
  </database>
  <documents>
    <versions>
      <steps>10</steps>
    </versions>
    <default_controller>default</default_controller>
    <default_action>default</default_action>
    <error_pages>
      <default>/</default>
    </error_pages>
    <createredirectwhenmoved/>
    <allowtrailingslash>no</allowtrailingslash>
    <allowcapitals>no</allowcapitals>
    <generatepreview>1</generatepreview>
  </documents>
  <objects>
    <versions>
      <steps>10</steps>
    </versions>
  </objects>
  <assets>
    <versions>
      <steps>10</steps>
    </versions>
  </assets>
  <services/>
  <cache>
    <excludeCookie/>
  </cache>
  <httpclient>
    <adapter>Zend_Http_Client_Adapter_Socket</adapter>
  </httpclient>
</zend-config>
