.nomargin{ margin: 0 !important; }
.nomt, .mt0{ margin-top: 0 !important; }
.nomb, .mb0{ margin-bottom: 0 !important; }
.noml, .ml0{ margin-left: 0 !important; }
.nomr, .mr0{ margin-right:  0 !important; }

.mlauto{ margin-left: auto !important; }
.mrauto{ margin-right: auto !important; }

.mt12{ margin-top: 12px !important; }
.mt16{ margin-top: 16px !important; }
.mt20{ margin-top: 20px !important; }
.mt24{ margin-top: 24px !important; }
.mt28{ margin-top: 28px !important; }
.mt32{ margin-top: 32px !important; }
.mt36{ margin-top: 36px !important; }
.mt40{ margin-top: 40px !important; }
.mt44{ margin-top: 44px !important; }
.mt48{ margin-top: 48px !important; }
.mt52{ margin-top: 52px !important; }
.mt56{ margin-top: 56px !important; }
.mt60{ margin-top: 60px !important; }
.mt64{ margin-top: 64px !important; }
.mt68{ margin-top: 68px !important; }
.mt72{ margin-top: 72px !important; }

.mb12{ margin-bottom: 12px !important; }
.mb16{ margin-bottom: 16px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb24{ margin-bottom: 24px !important; }
.mb28{ margin-bottom: 28px !important; }
.mb32{ margin-bottom: 32px !important; }
.mb36{ margin-bottom: 36px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb44{ margin-bottom: 44px !important; }
.mb48{ margin-bottom: 48px !important; }
.mb52{ margin-bottom: 52px !important; }
.mb56{ margin-bottom: 56px !important; }
.mb60{ margin-bottom: 60px !important; }
.mb64{ margin-bottom: 64px !important; }
.mb68{ margin-bottom: 68px !important; }
.mb72{ margin-bottom: 72px !important; }
